body{
    width:1440px;
    margin:0px;
}

a{
    text-decoration:none;
    display:block
}
img{
    border:none;
    display:block;
}
.clearfloat{
    zoom:1;
}
.clearfloat:after{
    display:block;
    clear:both;
    visibility:hidden;
    height:0px;
}
.public-container{
    position: relative;
    margin: 0 auto;
    height: 100px;
    width: 1100px;
}